// Define color variables
$highlight-dark: #c0360c;
$highlight-light: #ff9500;
$highlight-light-opacity: #ff95008f;
$color-dark: #bdb9b9;
$color-light: #333333;
$bg-dark: #eaf373;
$bg-light: #e8e8e8;
$titlebar-dark: #343f48;
$titlebar-light: #dad8d8;

$fg-dark: #45505a;

$fg-color-0:#000;
$fg-color-1:#666;
$fg-color-2:#ccc;
$fg-color-invert:#333;
$fg-color-invert-2:#ddd;
$hotspot-bg: #777;



$mask-bg:rgba(0,0,0,0.3);
$visited-color:#eee;
$box-shadow:rgba(20,20,20,0.8);

$notify-color:rgb(111,107,107);
$notify-info-bg:rgb(136,243,132);
$notify-info-fg:grey;
$notify-error-bg:lightpink;
$notify-error-fg:white;

$transparent-bg:rgba(0,0,0,0);
$label-bg:rgba(100,100,100,0.1);
$label-bg-light:rgba(100,100,100,0.08);

$highlight-button-bg: #ff95008f;
$highlight-fg:white;

$textarea-hover:rgba(255,203,0,0.1);
$text-shadow:rgb(250,247,247);

$delete-icon:  rgb(255,149,0);
$delete-hover:pink;

$search-color:rgb(241,70,70);
$search-field:#ff950073;

$icon-active:#5959dc;
$icon-hover:#3FAE5F;

$preview-quote-bg:#ddd;
$preview-quote-fg:#000;
$preview-bg:#e2e2e2;

$tooltip-bg:rgb(99 99 93 / 82%);
$tooltip-fg:white;



$user-id-bg: #00000099;
$user-id-fg: #eee;

