// Define color variables
$highlight-dark: #c0360c;
$highlight-light: #0df718;
$highlight-light-opacity: #0df7188f;
$color-dark: #dfdfdf;
$color-light: #686464;
$bg-dark: #eeedb6c9;
//$bg-light: rgb(27 26 26 / 89%);
$bg-light: #2d2d2d;
$hotspot-bg: #222;
 
$fg-dark:#fff;

$titlebar-dark: rgba(112, 105, 105, 1);
$titlebar-light: rgb(27 26 26 / 89%);


$fg-color-0:#fff;
$fg-color-1:#eee;
$fg-color-2:#222;
$fg-color-invert:#555;
$fg-color-invert-2:#888;

$mask-bg:rgba(0,0,0,0.3);
$visited-color:rgba(248, 243, 243, 0.3);
$box-shadow:rgba(228, 221, 221, 0.8);

$notify-color:rgb(111,107,107);
$notify-info-bg:rgb(136,243,132);
$notify-info-fg:grey;
$notify-error-bg:lightpink;
$notify-error-fg:white;

$transparent-bg:rgba(0,0,0,0);
$label-bg:rgb(100 100 100 / 60%);
$label-bg-light:rgba(100,100,100,0.10);

$highlight-button-bg:#3FAE5F;
$highlight-fg:#eee;

$textarea-hover:rgba(255,203,0,0.1);
$text-shadow:rgb(160, 154, 154);

$delete-icon:  rgb(64, 231, 18);
$delete-hover:rgb(202, 243, 209);

$search-color:rgb(64, 231, 18);
$search-field:#bafbc373;

$icon-active:#5959dc;
$icon-hover:#3FAE5F;

$preview-quote-bg:#eee;
$preview-quote-fg:#333;
$preview-bg:#2a2a2a;

$tooltip-bg:rgb(99 99 93 / 82%);
$tooltip-fg:white;

$user-id-bg: #00000099;
$user-id-fg: #eee;

