@charset "UTF-8";
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background-color: #2d2d2d;
  overflow-y: hidden;
}
body .versioninfo {
  font-size: 8px;
  color: #bebaba;
  position: fixed;
  left: 5px;
  bottom: 5px;
  opacity: 0.3;
  z-index: 1103;
}

.top-masker,
.frame-mask {
  z-index: 1100;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: none;
}
.top-masker img,
.frame-mask img {
  position: fixed;
  top: 15px;
  right: 25px;
  height: 15px;
  width: auto;
}

.notification {
  z-index: 1004;
  position: fixed;
  padding: 5px 10px;
  border-radius: 0;
  color: rgb(111, 107, 107);
  right: 0;
  bottom: 0;
  font-size: 12px;
  opacity: 0.8;
}
.notification.info {
  background: rgb(136, 243, 132);
  color: grey;
}
.notification.error {
  background: lightpink;
  color: white;
}

#post-table {
  margin-top: 20px;
  margin-left: 10px;
  width: 90%;
}
#post-table table {
  width: 100%;
}
#post-table tr {
  background: rgba(0, 0, 0, 0);
  height: 18px;
}
#post-table tr:nth-child(even) td {
  background: rgba(100, 100, 100, 0.1);
}
#post-table tr td.label {
  padding-left: 10px;
  color: #fff;
  text-shadow: #2d2d2d 1px 1px;
  font-size: 11px;
  width: 100px;
  background: rgba(100, 100, 100, 0.6);
  border-radius: 0px;
  cursor: pointer;
}
#post-table tr td.label.cfgEditor {
  width: 80px;
}
#post-table td.submit {
  text-align: center;
}

#top-banner-row {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
#top-banner-row .tooltip {
  position: fixed;
  right: calc(50% - 35px);
  top: -5px;
  background: rgba(99, 99, 93, 0.82);
  opacity: 1;
  text-align: center;
  z-index: 1002;
  width: 120px;
  padding: 10px 0px 5px 10px;
  color: white;
  height: 20px;
  border-radius: 5px;
}
#top-banner-row .top-banner {
  height: 20px;
  text-align: left;
  font-size: 16px;
  background: rgba(27, 26, 26, 0.89);
  padding: 10px 20px 10px;
  border-bottom: 4px solid #0df718;
  z-index: 1103;
  width: 400px;
  box-shadow: rgba(228, 221, 221, 0.8) 2px -2px 4px;
}
#top-banner-row .top-banner .frame-icon {
  width: 16px;
  height: 16px;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  color: #fff;
  cursor: pointer;
  -webkit-app-region: no-drag;
}
#top-banner-row .top-banner .frame-icon.op {
  width: 20px;
  height: 20px;
  font-size: 14px;
  opacity: 0.8;
}
#top-banner-row .top-banner .frame-icon.op.focus {
  color: #0df718;
  text-shadow: 1px 1px #fff;
}
#top-banner-row .top-banner .frame-icon.op:hover {
  opacity: 0.3;
}
#top-banner-row .top-banner .frame-pop {
  left: 0px;
  color: black;
  width: 390px;
  height: 320px;
  z-index: 1102;
  position: relative;
  border: 2px solid #2d2d2d;
  box-shadow: rgba(20, 20, 20, 0.8) 2px 2px 4px;
  border-radius: 10px;
  padding-left: 20px;
  display: none;
  background-color: #eee;
  background-image: url("assets/Mark.png");
  background-repeat: no-repeat;
  background-position: 5% 120%;
}
#top-banner-row .top-banner .frame-pop .ajax-loader img {
  position: fixed;
  top: 10px;
  right: calc(50% + 5px);
  opacity: 0.8;
  width: 50px;
  height: 12px;
}
#top-banner-row .top-banner .frame-pop #top-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  flex-direction: row-reverse;
}
#top-banner-row .top-banner .frame-pop #top-row #tool-banner {
  border: 0px solid #bebaba;
  height: 80px;
  width: auto;
}
#top-banner-row .top-banner .frame-pop #list-page {
  font-size: 14px;
  color: #c0360c;
  opacity: 0.7;
  height: 18px;
}
#top-banner-row .top-banner .frame-pop #list-page #pnumber textarea {
  background-color: #eee;
  color: #222;
  font-size: 16px;
  font-weight: bold;
  width: 40px;
  display: inline-block;
  text-align: center;
  border: none;
  resize: none;
  height: 13px;
  outline: none;
  overflow: hidden;
}
#top-banner-row .top-banner .frame-pop #list-page #pnumber textarea:focus {
  color: #5959dc;
}
#top-banner-row .top-banner .frame-pop #list-page .nav {
  cursor: pointer;
}
#top-banner-row .top-banner .frame-pop #list-page .nav:hover {
  opacity: 0.5;
}
#top-banner-row .top-banner .frame-pop #list-type {
  position: absolute;
  right: 180px;
  bottom: 10px;
  font-size: 24px;
  color: #222;
  font-style: italic;
}
#top-banner-row .top-banner .frame-pop #refresh {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  opacity: 0.8;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 12px;
}
#top-banner-row .top-banner .frame-pop #refresh:hover {
  opacity: 0.7;
}
#top-banner-row .top-banner .frame-pop .radio-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#top-banner-row .top-banner .frame-pop .radio-group .radio-option {
  margin: 0;
  padding: 5px;
  font-size: 10px;
  display: flex;
  align-items: center;
}
#top-banner-row .top-banner .frame-pop .radio-group .radio-option input[type=radio] {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
#top-banner-row .top-banner .frame-pop .radio-group .send {
  display: inline-block;
  padding: 5px 10px;
  margin-left: 15px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}
#top-banner-row .top-banner .frame-pop .send {
  display: block;
  background: #3FAE5F;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  color: #eee;
  padding: 6px 28px 10px;
  border: none;
  outline: none;
  float: right;
  height: 11px;
  margin-right: -4px;
}
#top-banner-row .top-banner .frame-pop .send:hover {
  background: #686464;
  cursor: pointer;
}
#top-banner-row .top-banner .frame-pop.cfgEditor .send {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#top-banner-row .top-banner #user_info {
  font-size: 14px;
  color: #bebaba;
  cursor: pointer;
  font-weight: normal;
  font-family: "Georgia", "Arial", "Microsoft YaHei", sans-serif;
  width: 150px;
}
#top-banner-row .top-banner #user_info a {
  color: #bebaba;
  font-size: 11px;
  text-decoration: none;
  font-style: italic;
}
#top-banner-row .top-banner #user_info a:hover, #top-banner-row .top-banner #user_info a:active, #top-banner-row .top-banner #user_info a:visited {
  color: rgba(248, 243, 243, 0.3);
}
#top-banner-row .top-banner #user_info .ajax-loader img {
  position: relative;
  left: 20px;
  top: 5px;
  width: 50px;
  height: 10px;
  opacity: 0.3;
}
#top-banner-row .top-banner .right-split {
  border-right: 1px solid grey;
  padding-right: 10px;
}
#top-banner-row .posttitle {
  height: 20px;
  color: #fff;
  text-align: right;
  padding-right: 30px;
  font-size: 14px;
  padding: 10px 20px;
  border-bottom: 2px solid #0df718;
  width: auto;
  background: rgba(27, 26, 26, 0.89);
  box-shadow: rgba(228, 221, 221, 0.8) 2px -2px 4px;
  z-index: 1103;
}

#container {
  display: flex;
  justify-content: center;
}
#container #editor,
#container #preview {
  width: 50%;
  height: 100vh;
  max-width: 720px;
}
#container #editor {
  line-height: 1.6em;
  overflow-y: hidden;
}
#container #preview {
  padding: 0px 28px 15px 20px;
  overflow-y: auto;
  border-left: 1px dotted #222;
  margin-left: 2px;
}

#post-table {
  margin: 20px 0 0 10px;
  border: 0 solid rgb(136, 243, 132);
  width: 90%;
}
#post-table table {
  width: 100%;
}
#post-table tr {
  background: rgba(0, 0, 0, 0);
  height: 18px;
}
#post-table td:has(input[type=checkbox]) {
  display: flex;
  justify-content: flex-end;
}
#post-table td.label {
  padding-left: 10px;
  color: #686464;
  text-shadow: 1px 1px #eee;
  font-size: 11px;
  width: 100px;
  background: rgba(100, 100, 100, 0.6);
  border-radius: 0px;
  cursor: pointer;
}
#post-table td.submit {
  text-align: center;
}
#post-table input,
#post-table select,
#post-table textarea {
  padding: 5px 5px 4px;
  width: 100%;
  color: #686464;
  font-size: 12px;
  border: 1px solid #dfdfdf;
}
#post-table input:hover, #post-table input:focus,
#post-table select:hover,
#post-table select:focus,
#post-table textarea:hover,
#post-table textarea:focus {
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  background: rgba(255, 203, 0, 0.1);
}
#post-table input[type=checkbox] {
  width: auto;
  margin-top: 8px;
  border-radius: 4px;
}

#plist-table {
  width: 90px;
  margin-left: 10px;
}
#plist-table a {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}
#plist-table table {
  width: 360px;
}
#plist-table table tr {
  width: 100%;
  padding-top: 3px;
  height: 30px;
}
#plist-table table tr:nth-child(even) td {
  background: rgba(100, 100, 100, 0.1);
  border: 0 solid #eee;
}
#plist-table td {
  width: 160px;
  text-align: center;
  font-size: 12px;
  color: #686464;
}
#plist-table td div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 240px;
  cursor: pointer;
  color: #686464;
  text-align: right;
}
#plist-table td.ind {
  width: 10px;
  background: rgba(0, 0, 0, 0) !important;
  color: rgb(255, 149, 0);
}
#plist-table td.ind:hover {
  border-radius: 1px;
  color: pink;
}
#plist-table td.date {
  width: 80px;
  text-align: left;
  padding-left: 20px;
  font-size: 11px;
  color: #bebaba;
}

/* Search Pannel */
#search-pannel {
  height: 18px;
  font-size: 16px;
  color: rgb(241, 70, 70);
  opacity: 0.7;
}
#search-pannel .nav {
  cursor: pointer;
}
#search-pannel .nav:hover {
  opacity: 0.5;
}
#search-pannel textarea {
  color: #686464;
  font-size: 11px;
  width: 140px;
  display: inline-block;
  text-align: left;
  border: none;
  resize: none;
  height: 14px;
  outline: none;
  overflow: hidden;
  background: rgba(255, 149, 0, 0.4509803922);
  border-radius: 3px;
  font-family: Calibri;
  margin-right: 10px;
  padding-left: 10px;
}

.config-input {
  margin: 30px auto 0;
  width: 100%;
  vertical-align: middle;
}
.config-input .config-title {
  font-size: 11px;
  color: #bebaba;
  width: 50px;
  display: inline;
  vertical-align: middle;
}
.config-input textarea {
  margin-left: 20px;
  padding: 5px 5px 4px;
  width: 240px;
  resize: none;
  color: #dfdfdf;
  height: 12px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  outline: 1px solid rgba(27, 26, 26, 0.89);
  border: none;
  border-radius: 2px;
  vertical-align: middle;
}
.config-input textarea:focus {
  background: rgba(255, 203, 0, 0.1);
}
.config-input .icon {
  margin: 0 8px 0 4px;
  vertical-align: middle;
  color: #dfdfdf;
  cursor: auto;
}
.config-input .icon.active {
  color: #5959dc;
  cursor: pointer;
}
.config-input .icon.active:hover {
  color: #3FAE5F;
}
.config-input .icon.disabled {
  cursor: default;
  color: #bebaba;
}
.config-input .icon.disabled:hover {
  color: #222;
}

.popping-note {
  margin-top: 12px;
  width: 350px;
  height: 170px;
  background: rgba(0, 0, 0, 0.03);
  border: 1px dotted #222;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  color: #222;
  white-space: pre-wrap;
}
.popping-note a {
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  color: #aaa;
  font-weight: bold;
}
.popping-note a:hover {
  color: #222;
}

body.single {
  /* 初始隐藏 banner */
}
body.single #top-banner-row.autohide {
  opacity: 0;
}
body.single #top-banner-row.autohide:hover {
  opacity: 1;
}
body.single #container #preview {
  display: none;
}
body.single #container #editor {
  width: 1024px;
  max-width: 1024px;
  margin-top: -30px;
}
body.single #container #editor .ace_active-line {
  /* Change the background color */
  /* Add a left border */
  /* Optional: Adjust opacity for the line */
}

#preview {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: #2a2a2a;
  color: #d6deeb;
  line-height: 1.6;
  font-size: 1em;
}

a {
  color: #82aaff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

pre, code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #1d3b53;
  color: #addb67;
  padding: 0.3em 0.5em;
  border-radius: 3px;
}

blockquote {
  color: #a1acc0;
  border-left: 4px solid #5e6b8e;
  padding: 0.6em 1.2em;
  margin: 0;
  background-color: #1d3b53;
}

img {
  display: block;
  margin: 1em auto;
  width: 80%;
}/*# sourceMappingURL=styles-dark.css.map */