// Define color variables
$highlight-dark: #c0360c;
$highlight-light: #0df718;
$highlight-light-opacity: #0df7188f;
$color-dark: #dfdfdf;
$color-light: #686464;
$bg-dark: #eeedb6c9;
$bg-light: rgba(112, 105, 105, 0.91);

$fg-dark:#fff;

$titlebar-dark: #95bddd;
$titlebar-light: #dad8d8;


$fg-color-0:#fff;
$fg-color-1:#bebaba;
$fg-color-2:#222;
$fg-color-invert:#555;
$fg-color-invert-2:#888;

$mask-bg:rgba(0,0,0,0.3);
$visited-color:rgba(248, 243, 243, 0.3);
$box-shadow:rgba(228, 221, 221, 0.8);

$notify-color:rgb(111,107,107);
$notify-info-bg:rgb(136,243,132);
$notify-info-fg:grey;
$notify-error-bg:lightpink;
$notify-error-fg:white;

$transparent-bg:rgba(0,0,0,0);
$label-bg:rgb(100 100 100 / 60%);
$label-bg-light:rgba(100,100,100,0.10);

$highlight-button-bg:#3FAE5F;
$highlight-fg:#eee;

$textarea-hover:rgba(255,203,0,0.1);
$text-shadow:rgb(160, 154, 154);

$delete-icon:  rgb(255,149,0);
$delete-hover:pink;

$search-color:rgb(241,70,70);
$search-field:#ff950073;

$icon-active:#5959dc;
$icon-hover:#3FAE5F;

$preview-quote-bg:#eee;
$preview-quote-fg:#333;

$tooltip-bg:rgb(99 99 93 / 82%);
$tooltip-fg:white;