// Scrollbar styling
::-webkit-scrollbar {
  display: none;
}

// Base styles
body {
  margin: 0;
  //background: $bg-light;
  background-color: $bg-light;
  overflow-y: hidden;



}



// Masking layers
.top-masker,
.frame-mask {
  z-index: 1100;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $mask-bg;
  cursor: pointer;
  display: none;

  img {
    position: fixed;
    top: 15px;
    right: 25px;
    height: 15px;
    width: auto;
  }
}

// Notification styling
.notification {
  z-index: 1004;
  position: fixed;
  padding: 5px 10px;
  border-radius: 0;
  color: $notify-color;
  right: 0;
  bottom: 0;
  font-size: 12px;
  opacity: 0.8;

  &.info {
    background: $notify-info-bg;
    color: $notify-info-fg;
  }

  &.error {
    background: $notify-error-bg;
    color: $notify-error-fg;
  }
}

// Table styles
#post-table {
  margin-top: 20px;
  margin-left: 10px;
  width: 90%;

  table {
    width: 100%;
  }

  tr {
    background: $transparent-bg;
    height: 18px;

    &:nth-child(even) td {
      background: $label-bg-light;
    }
    td.label {
      padding-left: 10px;
      color: $fg-color-0;
      text-shadow: $bg-light 1px 1px;
      font-size: 11px;
      width: 100px;
      background: $label-bg;
      border-radius: 0px;
      cursor: pointer;
      &.cfgEditor {
        width:80px;
      }
    }
  }

  td.submit {
    text-align: center;


  }
}

#top-banner-row {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;

  //Tool tip
  .tooltip {
    position: fixed;
    right: calc(50% - 35px);
    top: -5px;
    background: $tooltip-bg;
    opacity: 1;
    text-align: center;
    z-index: 1002;
    width: 120px;
    padding: 10px 0px 5px 10px;
    color: $tooltip-fg;

    height: 20px;
    border-radius: 5px;
  }

  // Top banner
  .top-banner {

    height: 20px;
    text-align: left;
    font-size: 16px;
    background: $titlebar-light;
    padding: 10px 20px 10px;
    border-bottom: 4px solid $highlight-light;
    // position: fixed;
    //top: 0;
    //right: 0;
    z-index: 1103;
    width: 400px;
    box-shadow: $box-shadow 2px -2px 4px;



    .frame-icon {
      width: 16px;
      height: 16px;
      float: right;
      margin-right: 10px;
      margin-top: 3px;
      color: $fg-color-0;
      cursor: pointer;
      -webkit-app-region: no-drag;

      &.op {
        width: 20px;
        height: 20px;
        font-size: 14px;
        opacity: 0.8;

        &.focus {
          color: $highlight-light;
          text-shadow: 1px 1px $fg-color-0;
        }

        &:hover {
          opacity: 0.3;
        }
      }
    }

    .frame-pop {

      left: 0px;
      // top: 15px;

      color: black;
      width: 390px;
      height: 320px;

      z-index: 1102;
      position: relative;
      border: 2px solid $bg-light;
      box-shadow: rgba(20, 20, 20, 0.8) 2px 2px 4px;
      border-radius: 10px;
      padding-left: 20px;

      display: none;
      background-color: $highlight-fg;
      background-image: url("assets/Mark.png");
      background-repeat: no-repeat;
      background-position: 5% 120%;

      .ajax-loader img {
        position: absolute;
        bottom: 50%;
        right: 50%;
        opacity: 0.6;
        width: 50px;
        height: 12px;
      }

      #top-row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 50px;
        flex-direction: row-reverse;

        #tool-banner {
          border: 0px solid $fg-color-1;
          height: 80px;
          width: auto;
          //position: fixed;
          //bottom: 15px;
          //right: 5px;


        }
      }


      #list-page {
        font-size: 14px;
        color: $highlight-dark;
        opacity: 0.7;
        height: 18px;

        #pnumber textarea {
          background-color: $highlight-fg;
          color: $fg-color-2;
          font-size: 16px;
          font-weight: bold;
          width: 40px;
          display: inline-block;
          text-align: center;
          border: none;
          resize: none;
          height: 13px;
          outline: none;
          overflow: hidden;

          &:focus {
            color: $icon-active;
          }
        }

        .nav {
          cursor: pointer;

          &:hover {
            opacity: 0.5;
          }
        }
      }

      #list-type {
        position: absolute;
        right: 180px;
        bottom: 10px;
        font-size: 24px;
        color: $fg-color-2;
        font-style: italic;
      }

      #refresh {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 30px;
        height: 30px;
        opacity: 0.8;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 12px;

        &:hover {
          opacity: 0.7;
        }
      }

      .radio-group {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .radio-option {
          margin: 0;
          padding: 5px;
          font-size: 10px;
          display: flex;
          align-items: center;

          input[type="radio"] {
            width: 16px;
            height: 16px;
            margin-right: 5px; // 控制按钮与文本间距
          }
        }

        .send {
          display: inline-block;
          padding: 5px 10px;
          margin-left: 15px; // 控制按钮与提交div间距
          background-color: #007bff;
          color: #fff;
          font-size: 14px;
          text-align: center;
          cursor: pointer;
          border-radius: 3px;
        }
      }

      .send {
        display: block;
        background: $highlight-button-bg;
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        color: $highlight-fg;
        padding: 6px 28px 10px;
        border: none;
        outline: none;
        float: right;
        height: 11px;
        margin-right: -4px;

        &:hover {
          background: $color-light;
          cursor: pointer;
        }
      }

      &.cfgEditor {
        .send {
          position: absolute;
          bottom: 20px;
          right: 20px;
        }
      }

    }

    #user_info {
      font-size: 14px;
      color: $fg-color-1;
      cursor: pointer;
      font-weight: normal;
      font-family: "Georgia", "Arial", "Microsoft YaHei", sans-serif;
      width: 150px;

      a {
        color: $fg-color-1;
        font-size: 11px;
        text-decoration: none;
        font-style: italic;

        &:hover,
        &:active,
        &:visited {
          color: $visited-color;
        }
      }

      .ajax-loader img {
        width: 50px;
        height: 10px;
        opacity: 0.3;
      }
    }
  }

  .posttitle {
    height: 20px;
    color: $fg-color-0;
    text-align: right;
    padding-right: 30px;
    font-size: 14px;
    padding: 10px 20px;
    border-bottom: 2px solid $highlight-light;
    width: auto;
    // position: fixed;
    //top: 0px;
    //left: 0px;
    background: $bg-light;
    box-shadow: $box-shadow 2px -2px 4px;
  }


}


// Container styles
#container {
  display: flex;
  justify-content: center;

  #editor,
  #preview {
    width: 50%;
    height: 100vh;
    max-width: 720px;
  }

  #editor {
    line-height: 1.6em;
    overflow-y: hidden;
  }

  #preview {
    padding: 0px 28px 15px 20px;
    overflow-y: auto;
    border-left: 1px dotted $fg-color-2;
    margin-left: 2px;
  }
}


// Other components and utility styles...
//Config table style
#post-table {
  margin: 20px 0 0 10px;
  border: 0 solid $notify-info-bg;
  width: 90%;

  table {
    width: 100%;
  }

  tr {
    background: $transparent-bg;
    height: 18px;
  }

  td {

    &:has(input[type="checkbox"]) {
      display: flex;
      justify-content: flex-end;
    }

    &.label {
      padding-left: 10px;
      color: $color-light;
      text-shadow: 1px 1px $highlight-fg;
      font-size: 11px;
      width: 100px;
      background: $label-bg;
      border-radius: 0px;
      cursor: pointer;
    }

    &.submit {
      text-align: center;
    }
  }



  input,
  select,
  textarea {
    padding: 5px 5px 4px;
    width: 100%;
    color: $color-light;
    font-size: 12px;
    border: 1px solid $color-dark;

    &:hover,
    &:focus {
      outline: none;
      border-radius: 4px;
      cursor: pointer;
      background: $textarea-hover;
    }
  }

  input[type="checkbox"] {
    width: auto;
    margin-top: 8px;
    border-radius: 4px;
  }

}


// 搜索列表样式
#plist-table {
  width: 90px;
  margin-left: 10px;





  a {
    color: grey;
    text-decoration: none;
    cursor: pointer;
  }

  table {
    //    margin-top: 50px;
    width: 360px;

    tr {
      width: 100%;
      padding-top: 3px;
      height: 30px;
    }

    tr:nth-child(even) td {
      background: $label-bg-light;
      border: 0 solid $highlight-fg;
    }
  }

  td {
    width: 160px;
    text-align: center;
    font-size: 12px;
    color: $color-light;

    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 240px;
      cursor: pointer;
      color: $color-light;
      //text-shadow: 1px 1px $text-shadow;
      text-align: right;
    }

    &.ind {
      width: 10px;
      background: $transparent-bg !important;
      color: $delete-icon;

      &:hover {
        border-radius: 1px;
        color: $delete-hover;
      }
    }

    &.date {
      width: 80px;
      text-align: left;
      padding-left: 20px;
      font-size: 11px;
      color: $fg-color-1;
    }
  }

}

/* Search Pannel */
#search-pannel {
  height: 18px;
  // position: fixed;
  // right: 50px;
  // bottom: 320px;
  font-size: 16px;
  color: $search-color;
  opacity: 0.7;

  .nav {
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  textarea {
    color: $color-light;
    font-size: 11px;
    width: 140px;
    display: inline-block;
    text-align: left;
    border: none;
    resize: none;
    height: 14px;
    outline: none;
    overflow: hidden;
    background: $search-field;
    border-radius: 3px;
    font-family: Calibri;
    margin-right: 10px;
    padding-left: 10px;
  }
}



// Other config pannel
.config-input {
  margin: 30px auto 0;
  width: 100%;
  vertical-align: middle;

  .config-title {
    font-size: 11px;
    color: $fg-color-1;
    width: 50px;
    display: inline;
    vertical-align: middle;
  }

  textarea {
    margin-left: 20px;
    padding: 5px 5px 4px;
    width: 240px;
    resize: none;
    color: $color-dark;
    height: 12px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    outline: 1px solid $titlebar-light;
    border: none;
    border-radius: 2px;
    vertical-align: middle;

    &:focus {
      background: $textarea-hover;
    }
  }

  .icon {
    margin: 0 8px 0 4px;
    vertical-align: middle;
    color: $color-dark;
    cursor: auto;

    &.active {
      color: $icon-active;
      cursor: pointer;

      &:hover {
        color: $icon-hover
      }
    }

    &.disabled {
      cursor: default;
      color: $fg-color-1;

      &:hover {
        color: $fg-color-2;
      }
    }
  }
}

.popping-note {
  margin-top: 12px;
  width: 350px;
  height: 170px;
  background: rgba(0, 0, 0, 0.03);
  border: 1px dotted $fg-color-2;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  color: $fg-color-2;
  white-space: pre-wrap;

  a {
    text-decoration: dotted;
    color: #aaa;
    font-weight: bold;

    &:hover {
      color: $fg-color-2;
    }
  }
}