body.single {

    /* 初始隐藏 banner */
    #top-banner-row {
        //        transition: opacity 0.5s ease;
        /* 添加透明度过渡效果 */
        opacity: 0;

        &:hover {
            opacity: 1;

        }
    }

    #container {
        #preview {
            display: none;
        }

        #editor {
            width: 1024px;
            max-width: 1024px;
            margin-top: -30px;

            .ace_active-line {
//                background-color: #e0f7fa;
                /* Change the background color */
 //               border-left: 3px solid #00796b;
                /* Add a left border */
  //              opacity: 0.8;
                /* Optional: Adjust opacity for the line */
            }
        }
    }
}