// Define color variables
$highlight-dark: #c0360c;
$highlight-light: #ff9500;
$highlight-light-opacity: #ff95008f;
$color-dark: #dfdfdf;
$color-light: #333333;
$bg-dark: #424f5a;
$bg-light: #eae8e849;
$titlebar-dark: #343f48;
$titlebar-light: #dad8d8;

$fg-dark: #45505a;

// Scrollbar styling
::-webkit-scrollbar {
  display: none;
}

// Base styles
body {
  margin: 0;
  //background: $bg-light;
  background: white;
  overflow-y: hidden;

  //Tool tip
  .tooltip {
    position: fixed;
    right: 400px;
    top: 0px;
    background: $bg-light;
    opacity: 0.8;
    border-left: 2px solid $highlight-light-opacity;
    text-align: left;
    z-index: 1002;
    width: 120px;
    padding: 5px 0px 5px 10px;
    color: #666;
  }

  #user_info {
    font-size: 10px;
    color: #666;
    cursor: pointer;
    font-weight: normal;
    font-family: "Georgia", "Arial", "Kesong", "PingFang SC", "Microsoft YaHei", sans-serif;
    position: fixed;
    top: 6px;


    a {
      color: gray;
      font-size: 11px;
      text-decoration: none;
      font-style: italic;

      &:hover,
      &:active,
      &:visited {
        color: rgba(0, 0, 0, 0.3);
      }
    }

    .ajax-loader img {
      width: 50px;
      height: 10px;
      opacity: 0.3;
    }
  }
}

// Top banner
.top-banner {
  height: 12px;
  text-align: left;
  font-size: 16px;
  background: $bg-light;
  padding: 1px 20px 10px;
  border-left: 4px solid $highlight-light;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1103;
  width: 400px;
  box-shadow: rgba(20, 20, 20, 0.8) 2px -2px 4px;

  .frame-icon {
    width: 16px;
    height: 16px;
    float: right;
    margin-right: 10px;
    margin-top: 3px;
    color: black;
    cursor: pointer;
    -webkit-app-region: no-drag;

    &.op {
      width: 20px;
      height: 20px;
      font-size: 14px;
      opacity: 0.8;

      &.focus {
        color: $highlight-light;
        text-shadow: 1px 1px black;
      }

      &:hover {
        opacity: 0.3;
      }
    }
  }
}


// Masking layers
.top-masker,
.frame-mask {
  z-index: 1100;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: none;

  img {
    position: fixed;
    top: 15px;
    right: 25px;
    height: 15px;
    width: auto;
  }
}

// Notification styling
.notification {
  z-index: 1004;
  position: fixed;
  padding: 5px 10px;
  border-radius: 0;
  color: rgb(111, 107, 107);
  right: 0;
  bottom: 0;
  font-size: 12px;
  opacity: 0.8;

  &.info {
    background: rgb(136, 243, 132);
  }

  &.error {
    background: lightpink;
    color: white;
  }
}

// Table styles
#post-table {
  margin-top: 20px;
  margin-left: 10px;
  width: 90%;

  table {
    width: 100%;
  }

  tr {
    background: rgba(0, 0, 0, 0);
    height: 18px;

    td.label {
      padding-left: 10px;
      color: #333;
      text-shadow: white 1px 1px;
      font-size: 11px;
      width: 100px;
      background: rgba(100, 100, 100, 0.05);
      border-radius: 4px;
      cursor: pointer;
    }
  }

  td.submit {
    text-align: center;

    .send {
      display: block;
      background: #3FAE5F;
      text-transform: uppercase;
      text-align: center;
      font-size: 12px;
      color: #fff;
      padding: 6px 28px 10px;
      border: none;
      outline: none;
      margin-top: 5px;
      height: 11px;
      margin-right: -4px;

      &:hover {
        background: #333;
        cursor: pointer;
      }
    }
  }
}


// Container styles
#container {
  display: flex;

  #editor,
  #preview {
    width: 50%;
    height: 100vh;
    margin-top: 28px;
  }

  #editor {
    line-height: 1.6em;
    margin-bottom: 10px;
    overflow-y: hidden;
  }

  #preview {
    padding: 0px 28px 15px 20px;
    line-height: 1.6em;
    font-size: 1.4em;
    color: $fg-dark;
    font-family: Kesong, Arial, Helvetica, sans-serif;
    overflow-y: auto;
    background: $bg-light;
    border-left: 8px solid white;
  }
}


// Other components and utility styles...
.posttitle {
  text-align: right;
  padding-right: 30px;
  font-size: 18px;
  padding: 4px 20px;
  font-family: 'KESONG';
  border-right: 2px solid $highlight-light;
  width: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  background: $bg-light;
  box-shadow: rgba(20, 20, 20, 0.8) 2px -2px 4px;
}

//Config table style
#post-table {
  margin: 20px 0 0 10px;
  border: 0 solid grey;
  width: 90%;

  table {
    width: 100%;
  }

  tr {
    background: rgba(0, 0, 0, 0.0);
    height: 18px;
  }

  td {
    &.label {
      padding-left: 10px;
      color: #333;
      text-shadow: 1px 1px white;
      font-size: 11px;
      width: 100px;
      background: rgba(100, 100, 100, 0.05);
      border-radius: 4px;
      cursor: pointer;
    }

    &.submit {
      text-align: center;
    }

    .send {
      display: block;
      background: #3FAE5F;
      text-transform: uppercase;
      text-align: center;
      font-size: 12px;
      color: #fff;
      padding: 6px 28px 10px;
      border: none;
      outline: none;
      float: right;
      margin-top: 5px;
      height: 11px;
      margin-right: -4px;

      &:hover {
        background: #333;
        cursor: pointer;
      }
    }
  }

  input,
  select,
  textarea {
    padding: 5px 5px 4px;
    width: 100%;
    color: #333;
    font-size: 12px;
    border: 1px solid #ddd;

    &:hover,
    &:focus {
      outline: none;
      border-radius: 4px;
      cursor: pointer;
      background: rgba(255, 203, 0, 0.1);
    }
  }

  input[type="checkbox"] {
    width: auto;
    margin-top: 8px;
    border-radius: 4px;
  }
}


// 搜索列表样式
#plist-table {
  width: 90px;
  margin-left: 10px;





  a {
    color: grey;
    text-decoration: none;
    cursor: pointer;
  }

  table {
    //    margin-top: 50px;
    width: 360px;

    tr {
      width: 100%;
      padding-top: 3px;
      height: 30px;
    }

    tr:nth-child(even) td {
      background: rgba(200, 200, 200, 0.15);
      border: 0 solid white;
    }
  }

  td {
    width: 160px;
    text-align: center;
    font-size: 12px;
    color: #333;

    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 240px;
      cursor: pointer;
      color: #333;
      text-shadow: 1px 1px rgb(250, 247, 247);
      text-align: right;
    }

    &.ind {
      width: 10px;
      background: white !important;
      color: rgb(255, 149, 0);

      &:hover {
        border-radius: 1px;
        color: pink;
      }
    }

    &.date {
      width: 80px;
      text-align: left;
      padding-left: 20px;
      font-size: 11px;
      color: rgb(98, 99, 101);
    }
  }

}

/* Search Pannel */
#search-pannel {
  height: 18px;
  // position: fixed;
  // right: 50px;
  // bottom: 320px;
  font-size: 16px;
  color: rgb(241, 70, 70);
  opacity: 0.7;

  .nav {
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  textarea {
    color: #333;
    font-size: 11px;
    width: 140px;
    display: inline-block;
    text-align: left;
    border: none;
    resize: none;
    height: 14px;
    outline: none;
    overflow: hidden;
    background: #ff950073;
    border-radius: 3px;
    font-family: Calibri;
    margin-right: 10px;
    padding-left: 10px;
  }
}



// Other config pannel
.config-input {
  margin: 30px auto 0;
  width: 100%;
  vertical-align: middle;

  .config-title {
    font-size: 11px;
    color: grey;
    width: 50px;
    display: inline;
    vertical-align: middle;
  }

  textarea {
    margin-left: 20px;
    padding: 5px 5px 4px;
    width: 240px;
    resize: none;
    color: #ccc;
    height: 12px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    outline: 1px solid #ddd;
    border: none;
    border-radius: 2px;
    vertical-align: middle;

    &:focus {
      background: rgba(255, 203, 0, 0.1);
    }
  }

  .icon {
    margin: 0 8px 0 4px;
    vertical-align: middle;
    color: lightgrey;
    cursor: auto;

    &.active {
      color: #5959dc;
      cursor: pointer;

      &:hover {
        color: #3FAE5F;
      }
    }

    &.disabled {
      cursor: default;
      color: #aaa;

      &:hover {
        color: #aaa;
      }
    }
  }
}

.popping-note {
  margin-top: 12px;
  width: 350px;
  height: 170px;
  background: rgba(0, 0, 0, 0.03);
  border: 1px dotted #888;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  color: #888;
  white-space: pre-wrap;

  a {
    text-decoration: dotted;
    color: #aaa;
    font-weight: bold;

    &:hover {
      color: #888;
    }
  }
}

.frame-pop {

  right: 10px;
  top: 40px;

  color: black;
  width: 390px;
  height: 320px;

  z-index: 1102;
  position: fixed;
  border: 2px solid $bg-light;
  box-shadow: rgba(20, 20, 20, 0.8) 2px 2px 4px;
  border-radius: 10px;
  padding-left: 20px;

  display: none;
  background-color: white;
  background-image: url("assets/Mark.png");
  background-repeat: no-repeat;
  background-position: 5% 120%;

  .ajax-loader img {
    position: absolute;
    bottom: 50%;
    right: 50%;
    opacity: 0.6;
    width: 50px;
    height: 12px;
  }

  #top-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    flex-direction: row-reverse;

    #tool-banner {
      border: 0px solid grey;
      height: 80px;
      width: auto;
      //position: fixed;
      //bottom: 15px;
      //right: 5px;


    }
  }


  #list-page {
    font-size: 14px;
    color: rgb(241, 70, 70);
    opacity: 0.7;
    height: 18px;

    #pnumber textarea {
      color: #888;
      font-size: 16px;
      font-weight: bold;
      width: 40px;
      display: inline-block;
      text-align: center;
      border: none;
      resize: none;
      height: 13px;
      outline: none;
      overflow: hidden;

      &:focus {
        color: #5959dc;
      }
    }

    .nav {
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  #list-type {
    position: absolute;
    right: 180px;
    bottom: 10px;
    font-size: 24px;
    color: #ddd;
    font-style: italic;
  }

  #refresh {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 12px;

    &:hover {
      opacity: 0.7;
    }
  }
}